{% include 'index.html'%}

{% block content %}
<div class="container">
<div class="row">
  <nav class="navbar-light bg-light" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About Us</li>
  </ol>
</nav>
</div>

  <h1> About Us </h1>
</div>
{% endblock %}
